header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #1f1815;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
}
